.grid {
    display: grid;
    grid-template: 1fr/47% 2% 5% 39% 5% 2%;
    height: 100%;
}

.im {
    width: 30px;
    height: 30px;
    grid-column: 2/3;
}

.text {
    grid-column: 3/4;
}

.help {
    grid-column: 5/6;
}